[submodule "vim/vim.symlink/bundle/mango"]
	path = vim/vim.symlink/bundle/mango
	url = https://github.com/goatslacker/mango.vim
[submodule "vim/vim.symlink/bundle/nerdtree"]
	path = vim/vim.symlink/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vim.symlink/bundle/fugitive"]
	path = vim/vim.symlink/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vim.symlink/bundle/vim-colors-solarized"]
	path = vim/vim.symlink/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/vim.symlink/bundle/tagbar"]
	path = vim/vim.symlink/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim/vim.symlink/bundle/minibufexpl"]
	path = vim/vim.symlink/bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "vim/vim.symlink/bundle/vim-airline"]
	path = vim/vim.symlink/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/vim.symlink/bundle/vim-airline-themes"]
	path = vim/vim.symlink/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
