[submodule "vim.symlink/bundle/mango"]
	path = vim.symlink/bundle/mango
	url = https://github.com/goatslacker/mango.vim
[submodule "vim.symlink/bundle/vim-colors-solarized"]
	path = vim.symlink/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim.symlink/bundle/tagbar"]
	path = vim.symlink/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim.symlink/bundle/fugitive"]
	path = vim.symlink/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim.symlink/bundle/nerdtree"]
	path = vim.symlink/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
